data/.DS_Store
data/FLIGHT-3Y.zip
data/Flights/201201.csv
data/Flights/201202.csv
data/Flights/201203.csv
data/Flights/201204.csv
data/Flights/201205.csv
data/Flights/201206.csv
data/Flights/201207.csv
data/Flights/201208.csv
data/Flights/201209.csv
data/Flights/201210.csv
data/Flights/201211.csv
data/Flights/201212.csv
data/Flights/201301.csv
data/Flights/201302.csv
data/Flights/201303.csv
data/Flights/201304.csv
data/Flights/201305.csv
data/Flights/201306.csv
data/Flights/201307.csv
data/Flights/201308.csv
data/Flights/201309.csv
data/Flights/201310.csv
data/Flights/201311.csv
data/Flights/201312.csv
data/Flights/201401.csv
data/Flights/201402.csv
data/Flights/201403.csv
data/Flights/201404.csv
data/Flights/201405.csv
data/Flights/201406.csv
data/Flights/201407.csv
data/Flights/201408.csv
data/Flights/201409.csv
data/Flights/201410.csv
data/Flights/201411.csv
data/Flights/201412.csv
data/wban_airport_timezone.csv
data/Weather/201201hourly.txt
data/Weather/201205hourly.txt
data/Weather/201207hourly.txt
data/Weather/201209hourly.txt
data/Weather/201304hourly.txt
data/Weather/201306hourly.txt
data/Weather/201309hourly.txt
data/Weather/201311hourly.txt
.DS_Store
.metals/.reports/metals-full/2025-09-26/r_empty-definition_16-45-50-801.md
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.DS_Store
.scala-build/.bloop/Emiasd-FlightProject_d5c0a6989e-test.json
.scala-build/.bloop/Emiasd-FlightProject_d5c0a6989e.json
.scala-build/.bloop/Emiasd-FlightProject_d5c0a6989e/bloop-internal-classes/main-7oEMtWQvTO-jRK1g1uDFwQ==/META-INF/semanticdb/src/main/scala/MainApp.scala.semanticdb
.scala-build/.bloop/Emiasd-FlightProject_d5c0a6989e/Emiasd-FlightProject_d5c0a6989e-analysis.bin
.scala-build/Emiasd-FlightProject_d5c0a6989e/classes/main/META-INF/semanticdb/src/main/scala/MainApp.scala.semanticdb
.vscode/settings.json
project/build.properties
project/target/config-classes/$40725f9efd0884cc9e2e$.class
project/target/config-classes/$40725f9efd0884cc9e2e.cache
project/target/config-classes/$40725f9efd0884cc9e2e.class
project/target/config-classes/$41b4e058bea296a0a9bc$.class
project/target/config-classes/$41b4e058bea296a0a9bc.cache
project/target/config-classes/$41b4e058bea296a0a9bc.class
project/target/config-classes/$8d316a2cd211838f9354$.class
project/target/config-classes/$8d316a2cd211838f9354.cache
project/target/config-classes/$8d316a2cd211838f9354.class
project/target/config-classes/$ac2d1684259edbd76161$.class
project/target/config-classes/$ac2d1684259edbd76161.cache
project/target/config-classes/$ac2d1684259edbd76161.class
project/target/config-classes/$c255e820d71c5421d6e0$.class
project/target/config-classes/$c255e820d71c5421d6e0.cache
project/target/config-classes/$c255e820d71c5421d6e0.class
project/target/config-classes/$d9817a5aa485e78109c1$.class
project/target/config-classes/$d9817a5aa485e78109c1.cache
project/target/config-classes/$d9817a5aa485e78109c1.class
project/target/scala-2.12/sbt-1.0/sync/copy-resource
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
project/target/streams/_global/_global/_global/streams/out
project/target/streams/_global/csrConfiguration/_global/streams/out
project/target/streams/_global/csrProject/_global/streams/out
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
project/target/streams/_global/ivyConfiguration/_global/streams/out
project/target/streams/_global/ivySbt/_global/streams/out
project/target/streams/_global/moduleSettings/_global/streams/out
project/target/streams/_global/projectDescriptors/_global/streams/out
project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
project/target/streams/_global/update/_global/streams/out
project/target/streams/compile/_global/_global/compileOutputs/previous
project/target/streams/compile/_global/_global/discoveredMainClasses/data
project/target/streams/compile/bspReporter/_global/streams/out
project/target/streams/compile/compile/_global/streams/out
project/target/streams/compile/compileIncremental/_global/streams/export
project/target/streams/compile/compileIncremental/_global/streams/out
project/target/streams/compile/copyResources/_global/streams/out
project/target/streams/compile/dependencyClasspath/_global/streams/export
project/target/streams/compile/exportedProducts/_global/streams/export
project/target/streams/compile/externalDependencyClasspath/_global/streams/export
project/target/streams/compile/incOptions/_global/streams/out
project/target/streams/compile/internalDependencyClasspath/_global/streams/export
project/target/streams/compile/internalDependencyClasspath/_global/streams/out
project/target/streams/compile/managedClasspath/_global/streams/export
project/target/streams/compile/scalacOptions/_global/streams/out
project/target/streams/compile/unmanagedClasspath/_global/streams/export
project/target/streams/compile/unmanagedClasspath/_global/streams/out
project/target/streams/compile/unmanagedJars/_global/streams/export
project/target/streams/runtime/dependencyClasspath/_global/streams/export
project/target/streams/runtime/exportedProducts/_global/streams/export
project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
project/target/streams/runtime/fullClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
project/target/streams/runtime/managedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/export
project/target/streams/runtime/unmanagedClasspath/_global/streams/out
project/target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/compile/unmanagedJars/_global/streams/export
target/streams/compile/unmanagedClasspath/_global/streams/out
target/streams/compile/unmanagedClasspath/_global/streams/export
target/streams/compile/scalacOptions/_global/streams/out
target/streams/compile/packageBin/_global/streams/output
target/streams/compile/packageBin/_global/streams/out
target/streams/compile/packageBin/_global/streams/inputs
target/streams/compile/managedClasspath/_global/streams/export
target/streams/compile/mainClass/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/out
target/streams/compile/internalDependencyClasspath/_global/streams/export
target/streams/compile/incOptions/_global/streams/out
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/dependencyClasspath/_global/streams/export
target/streams/compile/copyResources/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/out
target/streams/compile/compileIncremental/_global/streams/export
target/streams/compile/compile/_global/streams/out
target/streams/compile/bspReporter/_global/streams/out
target/streams/compile/_global/_global/discoveredMainClasses/data
target/streams/compile/_global/_global/compileOutputs/previous
target/streams/_global/update/_global/streams/out
target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
target/streams/_global/projectDescriptors/_global/streams/out
target/streams/_global/moduleSettings/_global/streams/out
target/streams/_global/ivySbt/_global/streams/out
target/streams/_global/ivyConfiguration/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
target/streams/_global/csrProject/_global/streams/out
target/streams/_global/csrConfiguration/_global/streams/out
target/streams/_global/_global/_global/streams/out
target/scala-2.12/zinc/inc_compile_2.12.zip
target/scala-2.12/update/update_cache_2.12/output
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/sync/copy-resource
target/scala-2.12/classes/MainApp.class
target/scala-2.12/classes/MainApp$.class
work/data/output/iris-20250926-153946/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-153946/iris_model/data/.part-00000-9d5f5f80-4125-4c4d-8315-33a899248af6-c000.snappy.parquet.crc
work/data/output/iris-20250926-153946/iris_model/data/_SUCCESS
work/data/output/iris-20250926-153946/iris_model/data/part-00000-9d5f5f80-4125-4c4d-8315-33a899248af6-c000.snappy.parquet
work/data/output/iris-20250926-153946/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-153946/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-153946/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-153946/iris_model/metadata/part-00000
work/data/output/iris-20250926-153946/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-153946/iris_model/treesMetadata/.part-00000-e756ff41-0fa0-4ae2-8f12-70c8a1dfb245-c000.snappy.parquet.crc
work/data/output/iris-20250926-153946/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-153946/iris_model/treesMetadata/part-00000-e756ff41-0fa0-4ae2-8f12-70c8a1dfb245-c000.snappy.parquet
work/data/output/iris-20250926-154011/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-154011/iris_model/data/.part-00000-fd078da0-753e-4c0b-b62f-232fc97f2039-c000.snappy.parquet.crc
work/data/output/iris-20250926-154011/iris_model/data/_SUCCESS
work/data/output/iris-20250926-154011/iris_model/data/part-00000-fd078da0-753e-4c0b-b62f-232fc97f2039-c000.snappy.parquet
work/data/output/iris-20250926-154011/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-154011/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-154011/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-154011/iris_model/metadata/part-00000
work/data/output/iris-20250926-154011/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-154011/iris_model/treesMetadata/.part-00000-fdc781e1-816b-4c73-93fd-ad40aa6dfa13-c000.snappy.parquet.crc
work/data/output/iris-20250926-154011/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-154011/iris_model/treesMetadata/part-00000-fdc781e1-816b-4c73-93fd-ad40aa6dfa13-c000.snappy.parquet
work/data/output/iris-20250926-154935/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-154935/iris_model/data/.part-00000-4679ee93-1887-4fd3-9f01-43484ae656c2-c000.snappy.parquet.crc
work/data/output/iris-20250926-154935/iris_model/data/_SUCCESS
work/data/output/iris-20250926-154935/iris_model/data/part-00000-4679ee93-1887-4fd3-9f01-43484ae656c2-c000.snappy.parquet
work/data/output/iris-20250926-154935/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-154935/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-154935/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-154935/iris_model/metadata/part-00000
work/data/output/iris-20250926-154935/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-154935/iris_model/treesMetadata/.part-00000-ee26e806-c5c4-4ecd-b087-9d8d35816f98-c000.snappy.parquet.crc
work/data/output/iris-20250926-154935/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-154935/iris_model/treesMetadata/part-00000-ee26e806-c5c4-4ecd-b087-9d8d35816f98-c000.snappy.parquet
work/data/output/iris-20250926-155000/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-155000/iris_model/data/.part-00000-816e50d8-9163-45d4-b421-091090009927-c000.snappy.parquet.crc
work/data/output/iris-20250926-155000/iris_model/data/_SUCCESS
work/data/output/iris-20250926-155000/iris_model/data/part-00000-816e50d8-9163-45d4-b421-091090009927-c000.snappy.parquet
work/data/output/iris-20250926-155000/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-155000/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-155000/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-155000/iris_model/metadata/part-00000
work/data/output/iris-20250926-155000/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-155000/iris_model/treesMetadata/.part-00000-1fd644ce-4a86-4f31-b4de-6e6dc917bccb-c000.snappy.parquet.crc
work/data/output/iris-20250926-155000/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-155000/iris_model/treesMetadata/part-00000-1fd644ce-4a86-4f31-b4de-6e6dc917bccb-c000.snappy.parquet
work/data/output/iris-20250926-155847/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-155847/iris_model/data/.part-00000-7f936d42-41c5-4858-b63f-117eca813ed2-c000.snappy.parquet.crc
work/data/output/iris-20250926-155847/iris_model/data/_SUCCESS
work/data/output/iris-20250926-155847/iris_model/data/part-00000-7f936d42-41c5-4858-b63f-117eca813ed2-c000.snappy.parquet
work/data/output/iris-20250926-155847/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-155847/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-155847/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-155847/iris_model/metadata/part-00000
work/data/output/iris-20250926-155847/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-155847/iris_model/treesMetadata/.part-00000-95214be3-e089-4359-b1e9-7c60acfa6d63-c000.snappy.parquet.crc
work/data/output/iris-20250926-155847/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-155847/iris_model/treesMetadata/part-00000-95214be3-e089-4359-b1e9-7c60acfa6d63-c000.snappy.parquet
work/data/output/iris-20250926-160658/iris_model/data/._SUCCESS.crc
work/data/output/iris-20250926-160658/iris_model/data/.part-00000-f0cbcbff-9f34-40cc-8305-c87ab2a0041d-c000.snappy.parquet.crc
work/data/output/iris-20250926-160658/iris_model/data/_SUCCESS
work/data/output/iris-20250926-160658/iris_model/data/part-00000-f0cbcbff-9f34-40cc-8305-c87ab2a0041d-c000.snappy.parquet
work/data/output/iris-20250926-160658/iris_model/metadata/._SUCCESS.crc
work/data/output/iris-20250926-160658/iris_model/metadata/.part-00000.crc
work/data/output/iris-20250926-160658/iris_model/metadata/_SUCCESS
work/data/output/iris-20250926-160658/iris_model/metadata/part-00000
work/data/output/iris-20250926-160658/iris_model/treesMetadata/._SUCCESS.crc
work/data/output/iris-20250926-160658/iris_model/treesMetadata/.part-00000-c8bb339b-c65d-45d8-a33f-c1e6e57c6dc6-c000.snappy.parquet.crc
work/data/output/iris-20250926-160658/iris_model/treesMetadata/_SUCCESS
work/data/output/iris-20250926-160658/iris_model/treesMetadata/part-00000-c8bb339b-c65d-45d8-a33f-c1e6e57c6dc6-c000.snappy.parquet
.bsp/sbt.json
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/sbt__com_clearspring_analytics_stream_2_9_6_jar.xml
.idea/libraries/sbt__com_esotericsoftware_kryo_shaded_4_0_2_jar.xml
.idea/libraries/sbt__com_esotericsoftware_minlog_1_3_0_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_15_2_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_15_1_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_module_jackson_module_scala_2_12_2_15_2_jar.xml
.idea/libraries/sbt__com_github_luben_zstd_jni_1_5_5_4_jar.xml
.idea/libraries/sbt__com_github_wendykierp_JTransforms_3_1_jar.xml
.idea/libraries/sbt__com_google_code_findbugs_jsr305_3_0_2_jar.xml
.idea/libraries/sbt__com_google_code_gson_gson_2_10_1_jar.xml
.idea/libraries/sbt__com_google_crypto_tink_tink_1_9_0_jar.xml
.idea/libraries/sbt__com_google_flatbuffers_flatbuffers_java_1_12_0_jar.xml
.idea/libraries/sbt__com_google_guava_guava_16_0_1_jar.xml
.idea/libraries/sbt__com_google_protobuf_protobuf_java_3_19_6_jar.xml
.idea/libraries/sbt__com_ning_compress_lzf_1_1_2_jar.xml
.idea/libraries/sbt__com_sun_istack_istack_commons_runtime_3_0_8_jar.xml
.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/sbt__com_twitter_chill_2_12_0_10_0_jar.xml
.idea/libraries/sbt__com_twitter_chill_java_0_10_0_jar.xml
.idea/libraries/sbt__com_univocity_univocity_parsers_2_9_1_jar.xml
.idea/libraries/sbt__commons_codec_commons_codec_1_16_1_jar.xml
.idea/libraries/sbt__commons_collections_commons_collections_3_2_2_jar.xml
.idea/libraries/sbt__commons_io_commons_io_2_16_1_jar.xml
.idea/libraries/sbt__commons_logging_commons_logging_1_1_3_jar.xml
.idea/libraries/sbt__dev_ludovic_netlib_arpack_3_0_3_jar.xml
.idea/libraries/sbt__dev_ludovic_netlib_blas_3_0_3_jar.xml
.idea/libraries/sbt__dev_ludovic_netlib_lapack_3_0_3_jar.xml
.idea/libraries/sbt__io_airlift_aircompressor_0_27_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_core_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_graphite_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_jmx_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_json_4_2_19_jar.xml
.idea/libraries/sbt__io_dropwizard_metrics_metrics_jvm_4_2_19_jar.xml
.idea/libraries/sbt__io_netty_netty_all_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_buffer_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_http2_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_http_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_codec_socks_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_common_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_handler_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_handler_proxy_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_resolver_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_classes_epoll_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_classes_kqueue_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_linux_aarch_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_epoll_4_1_96_Final_linux_x86_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_kqueue_4_1_96_Final_osx_aarch_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_kqueue_4_1_96_Final_osx_x86_64_jar.xml
.idea/libraries/sbt__io_netty_netty_transport_native_unix_common_4_1_96_Final_jar.xml
.idea/libraries/sbt__jakarta_annotation_jakarta_annotation_api_1_3_5_jar.xml
.idea/libraries/sbt__jakarta_servlet_jakarta_servlet_api_4_0_3_jar.xml
.idea/libraries/sbt__jakarta_validation_jakarta_validation_api_2_0_2_jar.xml
.idea/libraries/sbt__jakarta_ws_rs_jakarta_ws_rs_api_2_1_6_jar.xml
.idea/libraries/sbt__jakarta_xml_bind_jakarta_xml_bind_api_2_3_2_jar.xml
.idea/libraries/sbt__javax_activation_activation_1_1_1_jar.xml
.idea/libraries/sbt__joda_time_joda_time_2_12_5_jar.xml
.idea/libraries/sbt__net_razorvine_pickle_1_3_jar.xml
.idea/libraries/sbt__net_sf_opencsv_opencsv_2_3_jar.xml
.idea/libraries/sbt__net_sf_py4j_py4j_0_10_9_7_jar.xml
.idea/libraries/sbt__net_sourceforge_f2j_arpack_combined_all_0_1_jar.xml
.idea/libraries/sbt__org_antlr_antlr4_runtime_4_9_3_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_format_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_memory_core_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_memory_netty_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_arrow_arrow_vector_12_0_1_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_ipc_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_avro_avro_mapred_1_11_2_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_collections4_4_4_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_compress_1_23_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_crypto_1_1_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_lang3_3_12_0_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_math3_3_6_1_jar.xml
.idea/libraries/sbt__org_apache_commons_commons_text_1_10_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_client_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_framework_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_curator_curator_recipes_2_13_0_jar.xml
.idea/libraries/sbt__org_apache_datasketches_datasketches_java_3_3_0_jar.xml
.idea/libraries/sbt__org_apache_datasketches_datasketches_memory_2_1_0_jar.xml
.idea/libraries/sbt__org_apache_hadoop_hadoop_client_api_3_3_4_jar.xml
.idea/libraries/sbt__org_apache_hadoop_hadoop_client_runtime_3_3_4_jar.xml
.idea/libraries/sbt__org_apache_hive_hive_storage_api_2_8_1_jar.xml
.idea/libraries/sbt__org_apache_ivy_ivy_2_5_1_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_1_2_api_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_api_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_core_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_logging_log4j_log4j_slf4j2_impl_2_20_0_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_core_1_9_4_shaded_protobuf_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_mapreduce_1_9_4_shaded_protobuf_jar.xml
.idea/libraries/sbt__org_apache_orc_orc_shims_1_9_4_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_column_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_common_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_encoding_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_format_structures_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_hadoop_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_parquet_parquet_jackson_1_13_1_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_catalyst_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_common_utils_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_core_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_graphx_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_kvstore_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_launcher_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_mllib_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_mllib_local_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_network_common_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_network_shuffle_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sketch_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sql_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_sql_api_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_streaming_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_tags_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_spark_spark_unsafe_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_apache_xbean_xbean_asm9_shaded_4_23_jar.xml
.idea/libraries/sbt__org_apache_yetus_audience_annotations_0_13_0_jar.xml
.idea/libraries/sbt__org_apache_zookeeper_zookeeper_3_6_3_jar.xml
.idea/libraries/sbt__org_apache_zookeeper_zookeeper_jute_3_6_3_jar.xml
.idea/libraries/sbt__org_codehaus_janino_commons_compiler_3_1_9_jar.xml
.idea/libraries/sbt__org_codehaus_janino_janino_3_1_9_jar.xml
.idea/libraries/sbt__org_fusesource_leveldbjni_leveldbjni_all_1_8_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_external_aopalliance_repackaged_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_external_jakarta_inject_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_api_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_locator_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_hk2_utils_2_6_1_jar.xml
.idea/libraries/sbt__org_glassfish_hk2_osgi_resource_locator_1_0_3_jar.xml
.idea/libraries/sbt__org_glassfish_jaxb_jaxb_runtime_2_3_2_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_containers_jersey_container_servlet_core_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_client_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_common_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_core_jersey_server_2_40_jar.xml
.idea/libraries/sbt__org_glassfish_jersey_inject_jersey_hk2_2_40_jar.xml
.idea/libraries/sbt__org_javassist_javassist_3_29_2_GA_jar.xml
.idea/libraries/sbt__org_jetbrains_annotations_17_0_0_jar.xml
.idea/libraries/sbt__org_json4s_json4s_ast_2_12_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_core_2_12_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_jackson_2_12_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_json4s_json4s_scalap_2_12_3_7_0_M11_jar.xml
.idea/libraries/sbt__org_lz4_lz4_java_1_8_0_jar.xml
.idea/libraries/sbt__org_objenesis_objenesis_2_5_1_jar.xml
.idea/libraries/sbt__org_roaringbitmap_RoaringBitmap_0_9_45_jar.xml
.idea/libraries/sbt__org_roaringbitmap_shims_0_9_45_jar.xml
.idea/libraries/sbt__org_rocksdb_rocksdbjni_8_3_2_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_collection_compat_2_12_2_7_0_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_2_3_0_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_2_1_0_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_12_18_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_18_jar.xml
.idea/libraries/sbt__org_scalanlp_breeze_2_12_2_1_0_jar.xml
.idea/libraries/sbt__org_scalanlp_breeze_macros_2_12_2_1_0_jar.xml
.idea/libraries/sbt__org_slf4j_jcl_over_slf4j_2_0_7_jar.xml
.idea/libraries/sbt__org_slf4j_jul_to_slf4j_2_0_7_jar.xml
.idea/libraries/sbt__org_slf4j_slf4j_api_2_0_7_jar.xml
.idea/libraries/sbt__org_threeten_threeten_extra_1_7_1_jar.xml
.idea/libraries/sbt__org_tukaani_xz_1_9_jar.xml
.idea/libraries/sbt__org_typelevel_algebra_2_12_2_0_1_jar.xml
.idea/libraries/sbt__org_typelevel_cats_kernel_2_12_2_1_1_jar.xml
.idea/libraries/sbt__org_typelevel_spire_2_12_0_17_0_jar.xml
.idea/libraries/sbt__org_typelevel_spire_macros_2_12_0_17_0_jar.xml
.idea/libraries/sbt__org_typelevel_spire_platform_2_12_0_17_0_jar.xml
.idea/libraries/sbt__org_typelevel_spire_util_2_12_0_17_0_jar.xml
.idea/libraries/sbt__org_xerial_snappy_snappy_java_1_1_10_5_jar.xml
.idea/libraries/sbt__oro_oro_2_0_8_jar.xml
.idea/libraries/sbt__pl_edu_icm_JLargeArrays_1_5_jar.xml
.idea/libraries/sbt__scala_sdk_2_12_18.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/Emiasd-Flight-Data-Analysis.Emiasd-Flight-Data-Analysis-build.iml
.idea/modules/Emiasd-Flight-Data-Analysis.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/scala_settings.xml
.idea/vcs.xml
target/streams/test/unmanagedJars/_global/streams/export
target/streams/test/unmanagedClasspath/_global/streams/out
target/streams/test/unmanagedClasspath/_global/streams/export
target/streams/test/scalacOptions/_global/streams/out
target/streams/test/managedClasspath/_global/streams/export
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/runtime/unmanagedJars/_global/streams/export
target/streams/runtime/unmanagedClasspath/_global/streams/out
target/streams/runtime/unmanagedClasspath/_global/streams/export
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/_global/dumpStructure/_global/streams/out
target/streams/_global/_global/csrLogger/_global/streams/out
work/data/FLIGHT-3Y/Flights/201201.csv
work/data/FLIGHT-3Y/Flights/201202.csv
work/data/FLIGHT-3Y/Flights/201203.csv
work/data/FLIGHT-3Y/Flights/201204.csv
work/data/FLIGHT-3Y/Flights/201205.csv
work/data/FLIGHT-3Y/Flights/201206.csv
work/data/FLIGHT-3Y/Flights/201207.csv
work/data/FLIGHT-3Y/Flights/201208.csv
work/data/FLIGHT-3Y/Flights/201209.csv
work/data/FLIGHT-3Y/Flights/201210.csv
work/data/FLIGHT-3Y/Flights/201211.csv
work/data/FLIGHT-3Y/Flights/201212.csv
work/data/FLIGHT-3Y/Flights/201301.csv
work/data/FLIGHT-3Y/Flights/201302.csv
work/data/FLIGHT-3Y/Flights/201303.csv
work/data/FLIGHT-3Y/Flights/201304.csv
work/data/FLIGHT-3Y/Flights/201305.csv
work/data/FLIGHT-3Y/Flights/201306.csv
work/data/FLIGHT-3Y/Flights/201307.csv
work/data/FLIGHT-3Y/Flights/201308.csv
work/data/FLIGHT-3Y/Flights/201309.csv
work/data/FLIGHT-3Y/Flights/201310.csv
work/data/FLIGHT-3Y/Flights/201311.csv
work/data/FLIGHT-3Y/Flights/201312.csv
work/data/FLIGHT-3Y/Flights/201401.csv
work/data/FLIGHT-3Y/Flights/201402.csv
work/data/FLIGHT-3Y/Flights/201403.csv
work/data/FLIGHT-3Y/Flights/201404.csv
work/data/FLIGHT-3Y/Flights/201405.csv
work/data/FLIGHT-3Y/Flights/201406.csv
work/data/FLIGHT-3Y/Flights/201407.csv
work/data/FLIGHT-3Y/Flights/201408.csv
work/data/FLIGHT-3Y/Flights/201409.csv
work/data/FLIGHT-3Y/Flights/201410.csv
work/data/FLIGHT-3Y/Flights/201411.csv
work/data/FLIGHT-3Y/Flights/201412.csv
work/data/FLIGHT-3Y/wban_airport_timezone.csv
work/data/FLIGHT-3Y/Weather/201201hourly.txt
work/data/FLIGHT-3Y/Weather/201205hourly.txt
work/data/FLIGHT-3Y/Weather/201207hourly.txt
work/data/FLIGHT-3Y/Weather/201209hourly.txt
work/data/FLIGHT-3Y/Weather/201304hourly.txt
work/data/FLIGHT-3Y/Weather/201306hourly.txt
work/data/FLIGHT-3Y/Weather/201309hourly.txt
work/data/FLIGHT-3Y/Weather/201311hourly.txt
project/target/config-classes/$b37f8d767b48b70fcbd8$.class
project/target/config-classes/$b37f8d767b48b70fcbd8.cache
project/target/config-classes/$b37f8d767b48b70fcbd8.class
project/target/streams/_global/_global/csrLogger/_global/streams/out
