# src/main/resources/local-config.yml
environment: "local"

# ============================================================================
# COMMON CONFIGURATION - Shared across all experiments
# ============================================================================
common:
  # Random seed for reproducibility across all experiments
  seed: 42

  data:
    basePath: "/home/jovyan/work/data"
    flight:
      path: "/home/jovyan/work/data/FLIGHT-3Y/Flights/201201*.csv"
    weather:
      path: "/home/jovyan/work/data/FLIGHT-3Y/Weather/201201*.txt"
    airportMapping:
      path: "/home/jovyan/work/data/FLIGHT-3Y/wban_airport_timezone.csv"

  output:
    basePath: "/home/jovyan/work/output"

    mlflow:
      enabled: true
      trackingUri: "http://mlflow-server:5000"  # Utilise le nom du container et le port interne

# ============================================================================
# EXPERIMENTS - Each experiment has its own feature extraction and model config
# ============================================================================
experiments:

  # =========================================================================
  # Experiment 1:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-1-D2_60-weatherDepthHours_0-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: true
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: -1
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"

  # =========================================================================
  # Experiment 2:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-2-D2_60-weatherDepthHours_1-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: false
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: 1
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

      weatherSelectedFeatures:
        feature_weather_severity_index:
          transformation: "None"
        feature_is_vfr_conditions:
          transformation: "None"
        feature_is_ifr_conditions:
          transformation: "None"
        feature_requires_cat_ii:
          transformation: "None"
        feature_operations_risk_level:
          transformation: "None"
        feature_visibility_category:
          transformation: "StringIndexer"
        feature_most_critical_sky:
          transformation: "StringIndexer"
        feature_lowest_cloud_height:
          transformation: "None"
        feature_visibility_risk_score:
          transformation: "None"
        weather_intensity:
          transformation: "StringIndexer"
        has_thunderstorm:
          transformation: "None"
        has_freezing_precip:
          transformation: "None"
        has_freezing:
          transformation: "None"
        has_precipitation:
          transformation: "None"
        has_obscuration:
          transformation: "None"
        has_visible_moisture:
          transformation: "None"
        has_hazardous:
          transformation: "None"
        has_rain:
          transformation: "None"
        has_snow:
          transformation: "None"
        has_hail:
          transformation: "None"
        weather_hazard_level:
          transformation: "None"
        Icing_Risk_Flag:
          transformation: "None"
        Icing_Risk_Level:
          transformation: "None"
    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"

  # =========================================================================
  # Experiment 3:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-3-D2_60-weatherDepthHours_3-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: true
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: 3
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

      weatherSelectedFeatures:
        feature_weather_severity_index:
          transformation: "None"
        feature_is_vfr_conditions:
          transformation: "None"
        feature_is_ifr_conditions:
          transformation: "None"
        feature_requires_cat_ii:
          transformation: "None"
        feature_operations_risk_level:
          transformation: "None"
        feature_visibility_category:
          transformation: "StringIndexer"
        feature_most_critical_sky:
          transformation: "StringIndexer"
        feature_lowest_cloud_height:
          transformation: "None"
        feature_visibility_risk_score:
          transformation: "None"
        weather_intensity:
          transformation: "StringIndexer"
        has_thunderstorm:
          transformation: "None"
        has_freezing_precip:
          transformation: "None"
        has_freezing:
          transformation: "None"
        has_precipitation:
          transformation: "None"
        has_obscuration:
          transformation: "None"
        has_visible_moisture:
          transformation: "None"
        has_hazardous:
          transformation: "None"
        has_rain:
          transformation: "None"
        has_snow:
          transformation: "None"
        has_hail:
          transformation: "None"
        weather_hazard_level:
          transformation: "None"
        Icing_Risk_Flag:
          transformation: "None"
        Icing_Risk_Level:
          transformation: "None"
    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"

  # =========================================================================
  # Experiment 4:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-4-D2_60-weatherDepthHours_7-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: false
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: 7
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

      weatherSelectedFeatures:
        feature_weather_severity_index:
          transformation: "None"
        feature_is_vfr_conditions:
          transformation: "None"
        feature_is_ifr_conditions:
          transformation: "None"
        feature_requires_cat_ii:
          transformation: "None"
        feature_operations_risk_level:
          transformation: "None"
        feature_visibility_category:
          transformation: "StringIndexer"
        feature_most_critical_sky:
          transformation: "StringIndexer"
        feature_lowest_cloud_height:
          transformation: "None"
        feature_visibility_risk_score:
          transformation: "None"
        weather_intensity:
          transformation: "StringIndexer"
        has_thunderstorm:
          transformation: "None"
        has_freezing_precip:
          transformation: "None"
        has_freezing:
          transformation: "None"
        has_precipitation:
          transformation: "None"
        has_obscuration:
          transformation: "None"
        has_visible_moisture:
          transformation: "None"
        has_hazardous:
          transformation: "None"
        has_rain:
          transformation: "None"
        has_snow:
          transformation: "None"
        has_hail:
          transformation: "None"
        weather_hazard_level:
          transformation: "None"
        Icing_Risk_Flag:
          transformation: "None"
        Icing_Risk_Level:
          transformation: "None"
    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"

  # =========================================================================
  # Experiment 5:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-5-D2_60-weatherDepthHours_11-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: false
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: 11
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

      weatherSelectedFeatures:
        feature_weather_severity_index:
          transformation: "None"
        feature_is_vfr_conditions:
          transformation: "None"
        feature_is_ifr_conditions:
          transformation: "None"
        feature_requires_cat_ii:
          transformation: "None"
        feature_operations_risk_level:
          transformation: "None"
        feature_visibility_category:
          transformation: "StringIndexer"
        feature_most_critical_sky:
          transformation: "StringIndexer"
        feature_lowest_cloud_height:
          transformation: "None"
        feature_visibility_risk_score:
          transformation: "None"
        weather_intensity:
          transformation: "StringIndexer"
        has_thunderstorm:
          transformation: "None"
        has_freezing_precip:
          transformation: "None"
        has_freezing:
          transformation: "None"
        has_precipitation:
          transformation: "None"
        has_obscuration:
          transformation: "None"
        has_visible_moisture:
          transformation: "None"
        has_hazardous:
          transformation: "None"
        has_rain:
          transformation: "None"
        has_snow:
          transformation: "None"
        has_hail:
          transformation: "None"
        weather_hazard_level:
          transformation: "None"
        Icing_Risk_Flag:
          transformation: "None"
        Icing_Risk_Level:
          transformation: "None"
    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"