# src/main/resources/lamsade-config.yml
environment: "lamsade"

# ============================================================================
# COMMON CONFIGURATION - Shared across all experiments
# ============================================================================
common:
  # Random seed for reproducibility across all experiments
  seed: 42

  # Logging configuration
  log: true                   # Enable/disable all logging
  logLevel: "info"            # Minimum log level: debug, info, warn, error
  loadDataFromCSV: true      # If true: load from CSV/TXT; if false: load from raw parquet
  storeIntoParquet: false     # If true: save loaded data to parquet; if false: skip parquet saving

  data:
    basePath: "hdfs:///students/p6emiasd2025/mchettih/data"
    flight :
      path: "hdfs:///students/p6emiasd2025/mchettih/data/FLIGHT-3Y/Flights/201201*.csv"
    weather :
      path : "hdfs:///students/p6emiasd2025/mchettih/data/FLIGHT-3Y/Weather/201201*.txt"
    airportMapping :
      path : "hdfs:///students/p6emiasd2025/mchettih/data/FLIGHT-3Y/wban_airport_timezone.csv"

  output:
    basePath: "hdfs:///students/p6emiasd2025/mchettih/output"
    localPath: "/opt/cephfs/users/students/p6emiasd2025/mchettih/workspace/output"

  mlflow:
    enabled: true
    trackingUri: "http://mlflow-server:5000"  # Utilise le nom du container et le port interne

  # Path to Python visualization scripts
  scriptsPath: "/opt/cephfs/users/students/p6emiasd2025/mchettih/workspace/scripts"

# ============================================================================
# EXPERIMENTS - Each experiment has its own feature extraction and model config
# ============================================================================
experiments:

  # =========================================================================
  # Experiment 1:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-local-base"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: true
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: false
      weatherOriginDepthHours: -1
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 280
      handleInvalid: "keep"

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"
        feature_departure_time_period:
          transformation: "StringIndexer"
        feature_arrival_time_period:
          transformation: "StringIndexer"



    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 4

      gridSearch:
        enabled: true
        evaluationMetric: "f1"



