# src/main/resources/local-config.yml
environment: "local"

# ============================================================================
# COMMON CONFIGURATION - Shared across all experiments
# ============================================================================
common:
  # Random seed for reproducibility across all experiments
  seed: 42

  data:
    basePath: "/data"
    flight:
      path: "/data/FLIGHT-3Y/Flights/201201*.csv"
    weather:
      path: "/data/FLIGHT-3Y/Weather/201201*.txt"
    airportMapping:
      path: "/data/FLIGHT-3Y/wban_airport_timezone.csv"

  output:
    basePath: "/output"

  mlflow:
    enabled: true
    trackingUri: "http://mlflow-server:5000"  # Utilise le nom du container et le port interne

# ============================================================================
# EXPERIMENTS - Each experiment has its own feature extraction and model config
# ============================================================================
experiments:

  # =========================================================================
  # Experiment Test:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-Test"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: true
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D4"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: 7
      weatherDestinationDepthHours: 7
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        FL_DATE:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "None"
        OP_CARRIER_FL_NUM:
          transformation: "None"
        ORIGIN_AIRPORT_ID:
          transformation: "None"
        DEST_AIRPORT_ID:
          transformation: "None"
        CRS_DEP_TIME:
          transformation: "None"
        ARR_DELAY_NEW:
          transformation: "None"
        CRS_ELAPSED_TIME:
          transformation: "None"
        WEATHER_DELAY:
          transformation: "None"
        NAS_DELAY:
          transformation: "None"

      weatherSelectedFeatures:
        SkyCondition:
          transformation: "None"
        SkyConditionFlag:
          transformation: "None"
        Visibility:
          transformation: "None"
        VisibilityFlag:
          transformation: "None"
        WeatherType:
          transformation: "None"
        WeatherTypeFlag:
          transformation: "None"
        DryBulbFarenheit:
          transformation: "None"
        DryBulbFarenheitFlag:
          transformation: "None"
        DryBulbCelsius:
          transformation: "None"
        DryBulbCelsiusFlag:
          transformation: "None"
        WetBulbFarenheit:
          transformation: "None"
        WetBulbFarenheitFlag:
          transformation: "None"
        WetBulbCelsius:
          transformation: "None"
        WetBulbCelsiusFlag:
          transformation: "None"
        DewPointFarenheit:
          transformation: "None"
        DewPointFarenheitFlag:
          transformation: "None"
        DewPointCelsius:
          transformation: "None"
        DewPointCelsiusFlag:
          transformation: "None"
        RelativeHumidity:
          transformation: "None"
        RelativeHumidityFlag:
          transformation: "None"
        WindSpeed:
          transformation: "None"
        WindSpeedFlag:
          transformation: "None"
        WindDirection:
          transformation: "None"
        WindDirectionFlag:
          transformation: "None"
        ValueForWindCharacter:
          transformation: "None"
        ValueForWindCharacterFlag:
          transformation: "None"
        StationPressure:
          transformation: "None"
        StationPressureFlag:
          transformation: "None"
        PressureTendency:
          transformation: "None"
        PressureTendencyFlag:
          transformation: "None"
        PressureChange:
          transformation: "None"
        PressureChangeFlag:
          transformation: "None"
        SeaLevelPressure:
          transformation: "None"
        SeaLevelPressureFlag:
          transformation: "None"
        RecordType:
          transformation: "None"
        RecordTypeFlag:
          transformation: "None"
        HourlyPrecip:
          transformation: "None"
        HourlyPrecipFlag:
          transformation: "None"
        Altimeter:
          transformation: "None"
        AltimeterFlag:
          transformation: "None"
    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"

