# src/main/resources/local-config.yml
environment: "prodlamsade"
profile: "prodlamsade"

# ============================================================================
# COMMON CONFIGURATION - Shared across all experiments
# ============================================================================
common:
  # Random seed for reproducibility across all experiments
  seed: 42

  data:
    basePath: "/students/p6emiasd2025/hbalamou/data"
    flight :
      path: "/students/p6emiasd2025/hbalamou/data/Flights/201201.csv"
    weather :
      path : "/students/p6emiasd2025/hbalamou/data/Weather/201201hourly.txt"
    airportMapping :
      path : "/students/p6emiasd2025/hbalamou/data/wban_airport_timezone.csv"
  output:
    basePath: "/students/p6emiasd2025/hbalamou/output"

  mlflow:
    enabled: false
    trackingUri: "http://mlflow-server:5000"  # Utilise le nom du container et le port interne

# ============================================================================
# EXPERIMENTS - Each experiment has its own feature extraction and model config
# ============================================================================
experiments:

  # =========================================================================
  # Experiment 1:
  # Model : RandomForest, feature_selection
  # =========================================================================
  - name: "Experience-1-D2_60-weatherDepthHours_0-0"
    description: "Baseline Random Forest with hyperparameters tuning"
    enabled: true
    target: "is_delayed"

    featureExtraction:
      type: "feature_selection"
      dxCol: "D2_60"
      delayThresholdMin: 60
      storeJoinData: false
      storeExplodeJoinData: true
      weatherOriginDepthHours: -1
      weatherDestinationDepthHours: -1
      maxCategoricalCardinality: 50

      flightSelectedFeatures:
        CRS_DEP_TIME:
          transformation: "None"
        OP_CARRIER_AIRLINE_ID:
          transformation: "StringIndexer"
        ORIGIN_AIRPORT_ID:
          transformation: "StringIndexer"
        DEST_AIRPORT_ID:
          transformation: "StringIndexer"
        CRS_ELAPSED_TIME:
          transformation: "None"
        PREV_AIRCRAFT_ARR_DELAY:
          transformation: "None"
        feature_avg_delay:
          transformation: "None"
        feature_departure_hour_rounded:
          transformation: "StringIndexer"
        feature_flight_week_of_year:
          transformation: "StringIndexer"

    model:
      modelType: "randomforest"
      hyperparameters:
        numTrees: [15]
        maxDepth: [7]
        maxBins: [280]
        minInstancesPerNode: [5]
        subsamplingRate: [1.0]
        featureSubsetStrategy: ["all"] #["auto","all","sqrt","log2","onethird"]
        impurity: "gini"

    train:
      trainRatio: 0.75

      crossValidation:
        numFolds: 5

      gridSearch:
        enabled: true
        evaluationMetric: "f1"
